# Your Sentry DSN (from your Sentry account)
VITE_SENTRY_DSN=

# Your Sentry organization (from your Sentry account)
VITE_SENTRY_ORG=

# Your Sentry project (from your Sentry account)
VITE_SENTRY_PROJECT=

# Your Sentry authentication token (from your Sentry account)
SENTRY_AUTH_TOKEN=
# Database URL for PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5434/aima_mcp_frontend_db
# Add your Anthropic API key
ANTHROPIC_API_KEY=
# 32 char key
BETTER_AUTH_SECRET=
BACKEND_URL=http://0.0.0.0:8000