# Your Sentry DSN (from your Sentry account)
VITE_SENTRY_DSN=

# Your Sentry organization (from your Sentry account)
VITE_SENTRY_ORG=

# Your Sentry project (from your Sentry account)
VITE_SENTRY_PROJECT=

# Your Sentry authentication token (from your Sentry account)
SENTRY_AUTH_TOKEN=
# Database URL for PostgreSQL
DATABASE_URL=
# Add your Anthropic API key
ANTHROPIC_API_KEY=
# 32 char key
BETTER_AUTH_SECRET=
# Python backend url
BACKEND_URL=